---
BasedOnStyle: Chromium
SortIncludes: false 
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignTrailingComments:
  Kind: Always
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: false
BinPackParameters: true
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
ColumnLimit: 120
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 3
NamespaceIndentation: All
QualifierAlignment: Left
ReferenceAlignment: Left
RemoveBracesLLVM: true
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterIfMacros: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
